body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    cursor: none; 
    position: relative;
}

.content-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 800px;
    padding: 40px;
}

#legalese-layer {
    background-color: #f4f4f4;
    color: #999;
    font-family: "Times New Roman", serif;
    z-index: 1;
}

#legalese-layer h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    color: #444;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% { opacity: 1; }
    20%, 22%, 24%, 55% { opacity: 0.8; }
}

#truth-layer {
    background-color: #050505;
    color: #ff2200; 
    font-family: 'Courier New', monospace;
    z-index: 2;
    animation: flicker 5s infinite;

    -webkit-mask-image: radial-gradient(
        circle 250px at var(--x) var(--y), 
        black 100%, 
        transparent 100%
    );
    mask-image: radial-gradient(
        circle 250px at var(--x) var(--y), 
        black 100%, 
        transparent 100%
    );
}

#truth-layer h1 {
    font-weight: 900;
    letter-spacing: 2px;
}

#instruction {
    position: fixed;
    bottom: 25px;
    width: 100%;
    text-align: center;
    color: #666;
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: 4px;
    z-index: 10;
}
